.custom-drawer {
	.el-drawer__header {
		@apply: py-16px  mb-0;
		border-bottom: 1px solid #aaaaaa66;
	}
}

.el-tabs {
	.el-tabs__header {
		margin-bottom: 0;
	}
}

.el-menu {
	border: none !important;
	background-color: transparent !important;

	.el-menu-item, .el-sub-menu, {
		user-select: none;
		border: none !important;
		border-radius: 6px;
	}

	.el-menu-item, .el-sub-menu, .el-sub-menu__title {
		color: #a9a9a9;
	}
}


.el-menu--horizontal {
	--el-menu-text-color: #a9a9a9;
}


.el-menu--popup-container {
	border-radius: 10px;

	.el-menu--popup {
		padding: 10px;
		border-radius: 10px;
		
		li[role="menuitem"] {
			margin: 4px 0!important;
		}
	}
}


html:not(.dark) {
	.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
		color: #fff;
		background-color: var(--north-bg-color) !important;
	}

	.el-menu--horizontal .el-sub-menu .el-sub-menu__title {
		border-radius: 6px;
	}

	.el-menu--horizontal .el-sub-menu:hover > .el-sub-menu__title {
		color: #fff;
		background-color: var(--north-bg-color) !important;
	}

}