.custom-drawer {
	.el-drawer__header {
		@apply: py-16px  mb-0;
		border-bottom: 1px solid #aaaaaa66;
	}
}

.el-main {
	--el-main-padding: 0px !important;
}

.el-tabs {
	.el-tabs__header {
		margin-bottom: 0;
	}
}

.el-dialog {
	border-radius: 8px !important;
	padding: 0 !important;
	&__header {
		padding: 16px 24px;
		font-size: 16px;
		font-weight: 500;
		color: #303544;
		border-bottom: 1px solid #e0e0e0;
		margin-right: 0;
	}
	&__body {
		padding: 30px 20px 20px 20px;
	}
	&__footer {
		display: flex;
		justify-content: end;
		align-items: center;
		border-top: 1px solid #e0e0e0;
		padding: 16px;
		margin-top: 24px;
	}
}

.layout-aside {
	.el-menu {
		border: 0;
		background-color: var(--background-color);
	}
}
