.layout-container {
	@apply: bg-#9980FA;
}

.layout-aside {
	@apply: bg-#9980FA h-full transition-all;
}

.layout-container_sub {
	@apply: w-full rounded-10px;
	--at-apply: bg-#F9F8FD dark-bg-#141414;

	&-main {
		height: calc(100vh - 158px);
	}
}
